@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --header: #ebebebce;
    --letras-pequeñas: black;
    --input: #ffffff;
    --span: rgb(0, 73, 138);
    --hover-text:rgb(0, 73, 138);
    --botones: rgb(0, 73, 138);
    --cartas-border: rgb(0, 74, 138);
    --cartas-fondo: rgb(0, 73, 138);

}
html{
    scroll-behavior: smooth;
}
body{
     font-family: "Ubuntu", sans-serif;
   font-weight: 300;
}
header{
    width: 100%;
    background-color: var(--header);
    position: fixed;
    top: 0;
    border-bottom: 2px solid var(--cartas-border) ;
}

.principal{
    display: flex;
    justify-content: space-evenly;
    padding:1rem;
    align-items: center;
}
h1,
h2,
h3{
 font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
ul,
li{
    list-style: none;
    display: flex;
    gap: 3rem;

}
span{
    color: var(--span);
}
a{
    text-decoration: none;
    color: var(--letras-pequeñas);
    transition: all 0.3s ease;
    font-size: 1.1rem;

}

a:hover{
    color: var(--hover-text);
}

.input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.233); 
  background-color: var(--input);
  border-radius: 20rem;   
  padding: 0.6rem 1rem;

  width: 100%;
  max-width: 40rem;
}

.input i {
  color: #888;
  font-size: 1.1rem;
}

.input input {
  border: none;
  outline: none;
  background: transparent; 
  width: 100%;
  font-size: 1rem;
  color: #333;
}

button{
    border: 0;
    background: var(--botones);
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    width: 20%;
    transition: all 0.3s ease-in-out;
}
button:hover{
    transform: translateY(-5px);
}
.contenedor-principal{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor-clientes{
 display: flex;
 justify-content: space-evenly;
 margin: 10rem;
  
   
}

.cartasClientes{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);  
    width: 80%;

} 


.cartas{
    margin: 1rem;
    border-radius: 1rem;
    height: 13rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: var(--cartas-border);
    transition: all 0.3s ease;
    color: white;
    border: 2px solid var();
    
    
}
.carta8{
    grid-column: 2/4;
}
.cartas:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.226);
   
}
.imagen h2{
    text-align: center;

}
.imagen button{
    width: 50%;
}
.imagen img{
    width: 25rem;
    margin: 5rem;
}
.imagen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.perfil{
    align-items: center;
    display: flex;
    gap: 2rem;
    color: white;
}

.bi{
    font-size: 2.5rem;
    color: white;
   

}

.cartas img{
    width: 50%;
    object-fit: cover;
}


.puntuacion{
    display: flex;
   align-items: center;
   margin-top: 2rem;

}

